

<form ng-submit="submit()">
  <input type="text" ng-model="theWords.one" placeholder="noun">
  <input type="text" ng-model="theWords.two" placeholder="emotion">
  <input type="text" ng-model="theWords.three" placeholder="verb">
  <input type="text" ng-model="theWords.four" placeholder="emotion">
  <input type="text" ng-model="theWords.five" placeholder="number">
  <input type="text" ng-model="theWords.six" placeholder="noun">
  <input type="text" ng-model="theWords.seven" placeholder="noun">

  <button type="submit" ng-click="madWords(theWords)">Push button to Start</button>
</form>
